<!--このhtmlファイルはtoeicwordアプリケーション内で表示だれるWebページの基本となるファイルです。-->

<!--特有の物であるトップページを表示する準備-->

{% load static %}<!--toeic/static/の中にあるファイルを読み込むための物-->
<!DOCTYPE html>
<html lang='ja' dir='ltr'>
    <head>
        <meta charset="utf-8">
        <title>{% block title %}{% endblock %}</title>
        <!--「title」というブロックを作成している。他のhtmlファイルからタイトルを代入したい時に使う-->
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <link rel="stylesheet" href="{% static 'toeicword/style.css' %}">
    </head>
    <body>
        <header>
            <div class="app-name">
                <h1>ToeicWord on Django</h1>
            </div>
        </header>
        <!--ナビゲーションページ追加：下一行
        「include」は他のhtmlファイルを呼び出すことができる。
        ナビゲーションのような全ページに必要な機能を別のファイルで書いて呼び出すことができる-->
        {% include "toeicword/menu.html" %}
        <div class="content">
            {% block content %}{% endblock %}
        <!--「content」というブロックを作成する。他のhtmlファイルからコンテンツを代入したい時に使う-->>
        </div>
        <footer>
            <div class="text-right">
                <p>CopyRight 2022:Liu</p>
            </div>
        </footer>
    </body>
</html>