{% extends 'toeicword/base.html' %}
<!--「base.htmlを拡張してwordedit.htmlを作成する」ということを宣言-->

{% block title %}Word Edit{% endblock %}
<!--タイトルに「Word Edit」を代入する-->

{% block content %}
<article class="word-edit">
    <div class="page-name">
        <h1>単語の編集</h1>
    </div>
<!--13~22：編集が完了したことを伝えるための機能-->
    {% if messages %}
    <div class="message">
        <ul>
            {% for message in messages %}
            <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
    {% if ed_en_word != '' and ed_jp_word != '' %}<!--編集する単語が空いていないことを確認している-->
<!--24~33：実際に単語を編集する部分である。
編集にはformタグを使っているため「{%　csrf_token %}」によって、
webアプリケーションの脆弱性を突いた攻撃を防いでいる。-->
    <div class="word-edit-form">
        <form action="{% url 'wordedit' %}" method="post">
            {% csrf_token %}
            <p style="margin: 0;">English : {{ ed_en_word }}</p>
            <label>日本語 :  </label><input type="text" name="jp_word" value="{{ ed_jp_word }}">
            <input hidden type="text" name="en_word" value="{{ ed_en_word }}"><br>
            <input type="submit" value="編集" style="margin: 5px 0;">
        </form>
    </div>
    {% endif %}
</article>
{% endblock %}



