{% extends 'mytoeic/base.html' %}

{% block title %}Adj Word List{% endblock %}

{% block content %}
<article class="detail">
  <div class="word-list">
    <div class="page-name">
      <h1>形容詞--英単語一覧</h1>
      <h5 style="color:red">(JJ: 形容詞, JJR: 形容詞 <比較級>, JJS: 形容詞 <最上級>)</h5>
      <hr style="background-color:red"></hr>
    </div>
    <div class="word-detail">
      {% for word in words %}
        <div class="list">
          <p style="width: 20%">{{ forloop.counter }}: {{ word.en_word }}: <style="width: 60%">{{ word.word_type }}</p>
          <p style="width: 60%">{{ word.jp_word }}</p>
          <p class="jump"><a href="{% url 'adj_worddelete' %}?del_id={{ word.id }}">削除 &nbsp;/&nbsp;
          </a><a href="{% url 'adj_wordedit' %}?ed_id={{ word.id }}">編集</a></p>
        </div>
      {% endfor %}
    </div>
  </div>
</article>
{% endblock %}